.btn-primary {
    background-color: transparent;
    color: black;
    border-color: #356e4d;
}
.button {
    border-color: #356e4d;
    position: absolute;
    height: 25px;
    width: auto;
    right: 0;
    color: black;
    margin-top: 10px;
    z-index: 9999;
    cursor: pointer;
}
.modal-content{
    background-color: #bbd7c0;
}